.logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logout-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .logout-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logout-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-buttons button:hover {
    background-color: #0056b3;
  }

  .logout-background {
    background-image: url('./logout.png'); 
    background-size: cover; 
    background-position: center; 
  }